{% extends "__layout.html.twig" %}

{% block content %}
  {{ include('_category_nav.html.twig') }}

    <div id="content" class="{% if album_view == 'list' %}content-list{% else %}content-grid{% endif %}">
	{% if category_thumbnails is defined %} {# display sub-albums #}
	    {{ include('_albums.html.twig') }}
	{% endif %}

	{% if thumbnails is defined  %}
	    {{ include('_thumbnails.html.twig') }}
	{% endif %}

	{% if thumb_navbar is defined and (not thumb_navbar is empty) %}
	    <div class="row justify-content-center">
		{{ include('_navigation_bar.html.twig', { navbar: thumb_navbar}) }}
	    </div>
	{% endif %}
  </div>
{% endblock %}
