;; data
/_data
/upload
/galleries
/db/*
!/db/index.php


;; conf
/config/services_dev.yaml
/local/config/config.inc.php
/local/config/database.*.php
!/local/config/database.*.travis.php

;; external libraries
/vendor/*
/bin
!/bin/console

;; other stuff
/target
/.dist
/rsync_exclude

;; multisites
/sites

;; tests
/tests/units/tmp/

;;
/admin/theme/build
/admin/theme/node_modules
/admin/theme/*.log

;;
/themes/**/build
/themes/**/node_modules
/themes/**/*.log

;;
/languages/*
!/languages/fr_FR
!/languages/en_GB

;; plugins
/plugins

;; atoum
/coverage

/.env
/public/bundles/
/var/
/vendor/

;; php-cs-fixer
.php_cs
.php_cs.cache

.phpunit
/phpunit.xml
