;; data
/_data/*
/upload/*
/galleries/*

;; plugins
!/plugins/language_switch
!/plugins/LocalFilesEditor/
!/plugins/user_tags/
/plugins/*

;; themes
!/themes/Sylvia
!/themes/clear/
!/themes/dark/
!/themes/default/
!/themes/elegant/
/themes/*


;; conf
/local/config/config.inc.php
local/config/database.*.php

;; external libraries
/vendor/*

/bin/*


;; src ; not used yet
/src

;; other stuff
/target
/.dist

;; multisites
/sites
