;; data
/_data
/upload
/galleries
/db
!/db/index.php


;; plugins
/plugins


;; conf
/local/config/config.inc.php
/local/config/database.*.php
!/local/config/database.*.travis.php

;; external libraries
/vendor/*

/bin


;; other stuff
/target
/.dist
/rsync_exclude

;; multisites
/sites

;; tests
/tests/units/tmp/
