default:
  translation:
    locale: en

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
        environment: test

    Behat\MinkExtension:
      base_url: 'http://localhost:1080/'
      show_auto: true
      show_cmd: 'google-chrome %s'
      default_session: symfony

      sessions:
        symfony:
          symfony: ~

  suites:
    web:
      paths:
        - '%paths.base%/features/web'

      contexts:
        - App\Tests\Behat\FeatureContext: ~

        - App\Tests\Behat\DBContext: ~

        - Behat\MinkExtension\Context\MinkContext: ~

    api:
      paths:
        - '%paths.base%/features/api'

      contexts:
        - App\Tests\Behat\DBContext: ~

        - App\Tests\Behat\ApiContext: ~

