default:
  context:
    parameters:
      base_url: http://localhost/phyxo/behat
      api_base_url: %behat.mink.base_url%/ws.php

      pages:
        identification: identification.php
        protected_page: profile.php
        album: index.php?/category/%d
        picture: picture.php?/%%d/category/%d

      config_file: sites/behat/local/config/database.inc.php
      data_location: sites/behat/_data/
      sql_init_file: features/sql/db_init.sql
      sql_cleanup_file: features/sql/db_cleanup.sql

  extensions:
    Behat\MinkExtension\Extension:
      goutte: ~
      base_url: http://localhost/phyxo/behat

  paths:
    features:  features
    bootstrap: features/bootstrap

annotations:
  paths:
    features: features/annotations

closures:
  paths:
    features: features/closures
