default:
  context:
    parameters:
      base_url: http://localhost:1080
      api_base_url: %behat.mink.base_url%/ws.php

      pages:
        identification: identification.php
        protected_page: profile.php
        album: index.php?/category/%d
        picture: picture.php?/%%d/category/%d

      upload_dir: upload/
      config_file: local/config/database.inc.php
      sql_init_file: features/sql/db_init.sql
      sql_cleanup_file: features/sql/db_cleanup.sql

  extensions:
    Behat\MinkExtension\Extension:
      goutte: ~
      base_url: http://localhost:1080

  paths:
    features:  features
    bootstrap: features/bootstrap

annotations:
  paths:
    features: features/annotations

closures:
  paths:
    features: features/closures
