default:
  translation:
    locale: en

  extensions:
    DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
    Behat\MinkExtension\ServiceContainer\MinkExtension:
      goutte: ~
      base_url: "http://127.0.0.1:8080"
      show_auto: false
      show_cmd: "firefox %s"

      sessions:
        default:
          chrome:
            api_url: "http://localhost:9222"

    Behatch\Extension: ~

  suites:
    web:
      paths:
        - '%paths.base%/features/web'

      contexts:
        - behatch:context:browser
        - behatch:context:debug
        - behatch:context:system
        - behatch:context:json
        - behatch:context:table
        - behatch:context:rest
        - DbContext:
            parameters:
              sql_init_file: features/sql/db_init.sql
              sql_cleanup_file: features/sql/db_cleanup.sql
              config_file: local/config/database.inc.php
              upload_dir: upload/

        - FeatureContext:
            parameters:
              base_url: "http://127.0.0.1:8080"
              pages:
                identification: identification.php
                protected_page: profile.php
                album: "index.php?/category/%d"
                picture: "picture.php?/%%d/category/%d"

    api:
      paths:
        - "%paths.base%/features/api"
      contexts:
        - behatch:context:browser
        - behatch:context:debug
        - behatch:context:system
        - behatch:context:json
        - behatch:context:table
        - behatch:context:rest
        - DbContext:
            parameters:
              sql_init_file: features/sql/db_init.sql
              sql_cleanup_file: features/sql/db_cleanup.sql
              config_file: local/config/database.inc.php
              upload_dir: upload/

        - ApiContext:
            parameters:
              base_url: "http://127.0.0.1:8080"
              api_base_url: "%mink.base_url%/ws"
              data_location: _data/
