default:
  translation:
    locale: en

  extensions:
    FriendsOfBehat\SymfonyExtension: ~

    Behat\MinkExtension:
      base_url: 'http://localhost:1080/'
      show_auto: false
      show_cmd: 'google-chrome %s'
      default_session: symfony

      sessions:
        symfony:
          symfony: ~

  suites:
    web:
      paths:
        - '%paths.base%/features/web'

      contexts:
        - App\Tests\Behat\FeatureContext: ~

        - App\Tests\Behat\DBContext: ~

        - Behat\MinkExtension\Context\MinkContext: ~
