includes:
  - phpstan-baseline.neon

parameters:
  level: 2

  paths:
    - src
    - tests/Behat

  doctrine:
    objectManagerLoader: tools/phpstan-doctrine-orm-bootstrap.php

  reportUnmatchedIgnoredErrors: false
