includes:
  - phpstan-baseline.neon

parameters:
  level: 5

  paths:
    - src
    - plugins
    - tests/Behat

  doctrine:
    objectManagerLoader: tools/phpstan-doctrine-orm-bootstrap.php
    allowNullablePropertyForRequiredField: true

  reportUnmatchedIgnoredErrors: true
