parameters:
  ignoreErrors:
    # need refactoring
    - message: '#Access to an undefined property object::\$template\.#'
      path: src/Phyxo/MenuBar.php

    # need refactoring
    - message: '#Access to an undefined property object::\$min_size\.#'
      path: src/Phyxo/Image/ImageStandardParams.php

    # need refactoring
    - message: '#If condition is always false.#'
      path: src/Controller/MediaController.php

    # need refactoring
    - message: '#Unreachable statement - code above always terminates.#'
      path: src/Phyxo/Update/Updates.php

    - message: '#Result of && is always false#'
      path: src/DataMapper/AlbumMapper.php

    - message: '#Right side of && is always false.#'
      path: src/Phyxo/Functions/Ws/Category.php

    - message: "#Strict comparison using === between mixed and '[^']*' will always evaluate to false.#"
      path: src/Controller/Admin/AdminBatchManagerController.php
    - message: '#Result of && is always false.#'
      path: src/Controller/Admin/AdminBatchManagerController.php

    - message: '#Call to function is_null\(\) with mixed will always evaluate to false.#'
      path: src/Controller/FeedController.php

    - message: '#Call to function is_null\(\) with object will always evaluate to false.#'
      path: src/Controller/FeedController.php

    - message: '#Empty array passed to foreach.#'
      path: src/Controller/Admin/AdminRatingController.php

    - message: '#Call to function is_null\(\) with Symfony\\Component\\HttpFoundation\\RequestStack will always evaluate to false.#'
      path: src/Asset/PathVersionStrategy.php

    # need refactoring
    - message: '#Left side of && is always false.#'
      path: src/Controller/Admin/AdminNotificationController.php
    - message: '#Negated boolean expression is always true.#'
      path: src/Controller/Admin/AdminNotificationController.php
    - message: '#Result of \|\| is always true.#'
      path: src/Controller/Admin/AdminNotificationController.php

    # need refactoring
    - message: '#Result of && is always false#'
      path: src/Controller/PictureController.php
    - message: "#Strict comparison using === between \\*NEVER\\* and 'reject' will always evaluate to false.#"
      path: src/Controller/PictureController.php

    # need refactoring
    - message: '#Method App\\EventSubscriber\\TablePrefixSubscriber::getSubscribedEvents\(\) should return array<string, mixed> but returns array<int, string>\.#'
      path: src/EventSubscriber/TablePrefixSubscriber.php

    # need refactoring
    - message: "#Offset '.*' does not exist on array#"
      path: src/Controller/PictureController.php

    # need refactoring
    - message: '#Call to an undefined method object::getFilesize\(\)\.#'
      path: src/Controller/Admin/AdminHistoryController.php

    # need refactoring
    - message: '#Right side of && is always true\.#'
      path: src/Controller/Admin/AdminConfigurationController.php

    # Behat errors
    - message: '#Method App\\Tests\\Behat\\DBContext::.*\(\) has parameter \$table with no value type specified in iterable type Behat\\Gherkin\\Node\\TableNode\.#'
      path: tests/Behat/DBContext.php
