includes:
  - phpstan-baseline.neon

parameters:
  level: 0

  paths:
    - src
    - tests/Behat

  symfony:
    container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
    console_application_loader: tools/phpstan-console-loader.php

  doctrine:
    objectManagerLoader: tools/phpstan-doctrine-orm-bootstrap.php

  reportUnmatchedIgnoredErrors: false
