parameters:
  ignoreErrors:
    - message: '#Empty array passed to foreach.#'
      path: src/Controller/Admin/AdminRatingController.php

    # No more ws functions ?
    - message: '#.*#'
      path: src/Phyxo/Functions/Ws/*.php

    # Not yet used
    - message: '#Trait App\\Controller\\CommentControllerTrait is used zero times and is not analysed.#'
      path: src/Controller/CommentControllerTrait.php
