//
@-ms-viewport {
  width: device-width;
}

//
.ui-loader {
  display: none;
}

//
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  overflow-x: hidden;
}

@media (min-width: 1800px) {
  .container {
    width: 1600px;
  }
}
@media (min-width: 3000px) {
  .container {
    width: 2800px;
  }
}

//
.jumbotron {
  border-radius: 0;
}
.jumbotron h1 {
  font-size: 49px;
}
@include media-breakpoint-down(sm) {
  .jumbotron p {
    font-size: 16px;
  }
  .jumbotron h1 {
    font-size: 28px;
  }
}

//
#mainImage {
  padding-bottom: 1em;
  display: flex;
  align-items: center;

  figure {
    display: inline-block;
    position: relative;
    z-index: 1;

    $figure-control-color: #00bc8c;

    .previous,
    .next {
      position: absolute;
      top: 0;
      z-index: 2;
      display: block;
      width: 50%;
      height: 100%;
      opacity: 0;
      color: $figure-control-color;
      font-size: 5em;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      i {
        margin: auto 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    .previous {
      left: 0;
    }

    .next {
      right: 0;

      i {
        align-self: flex-end;
      }
    }
  }
}

.placeholder > img,
#mainImage > img,
#mainImage #video-modal > .embed-responsive,
.col-thumbnail > div > img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.thumbnail-active > a > img {
  border: 1px solid white;
}

//
#calendar-select {
  margin-bottom: 10px;
}
#calendar-nav {
  min-height: 55px;
  text-align: center;

  .btn-group {
    flex-wrap: wrap;
  }
  & > a {
    margin-bottom: 10px;
  }
}
#calendar-nav-buttons table {
  padding-top: 10px;
}
#calendar-nav-buttons td,
#calMonth td {
  border-top: none;
}
#calendar-nav-buttons td a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.calendar-month-list li {
  padding-right: 10px;
  display: inline-block;
}

//
.well-categories {
  margin-bottom: 10px;
}

//
.copyright {
  padding: 30px;
}

//
#thePopuphelpPage .jumbotron {
  display: none;
}

//
.card-img-left {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
  height: 100%;
  width: auto;
}

// Forms
.form-control-plaintext[readonly] {
  background-color: transparent;
  color: inherit;
}

.form-inline-action {
  display: inline;
}
