{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block html_head %}
<link type="text/css" rel="stylesheet" href="{{asset('api.css', 'admin')}}">
{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{{U_PAGE}}">API</a></li>
{% endblock %}

{% block content %}
<a name="top"></a>

<section class="api">      
  <section id="methods">
    <h2>Available methods</h2>

    <div id="methodsList" class="list-group"></div>
  </section>

  <section id="main">
    <h2 id="methodName"></h2>
    <h2 id="errorWrapper"></h2>
    
    <blockquote id="introMessage">
      <p>
	<b>API = Application Programming Interface.</b><br> This is the way other applications can communicate with Phyxo. This feature is also known as Web Services.
      </p>
      
      <p>Examples:</p>
      <ul>
	<li>Wordpress (web blog software) can display random photos from a Phyxo gallery in its sidebar</li>
	<li>Lightroom (photo management software for desktop) can create albums and upload photos to Phyxo</li>
      </ul>

      <p>
	This page lists all API methods available on your Phyxo installation, part of the Phyxo core or added by third-party
	plugins. For each method you can consult required and optional parameters, and even test them in direct live!
      </p>	
    </blockquote>

    <div id="content">
      <form id="methodWrapper">
	<div id="methodDescription">
	  <h3>Description</h3>
	  <blockquote></blockquote>
	</div>
	
	<div id="testForm">
	  <h3>Test</h3>
	  <p>Request format :
	    <select id="requestFormat" class="custom-select">
	      <option value="get" selected>GET</option>
	      <option value="post">POST</option>
	    </select>
	  </p>
	  <p><button class="btn btn-primary" id="invokeMethod">INVOKE</button></p>
	</div>
	
	<div id="methodParams">
	  <h3>Method parameters</h3>
	  <table class="table table-striped table-hover no-footer">
	    <thead class="thead-light">
	      <tr>
		<th>Name</th>
		<th>Extra</th>
		<th>Type</th>
		<th>Value</th>
		<th>Send</th>
	      </tr>
	    </thead>
	    <tbody></tbody>
	    <caption>
	      <p>
		<b>*</b>: required,
		<b>?</b>: optional,
		<b>[]</b>: can be an array (use a pipe | to split values)
	      </p>
	      <p>
		<b>B</b>: boolean,
		<b>I</b>: integer,
		<b>F</b>: float,
		<b>+</b>: positive,
		<b>&oslash;</b>: not null
	      </p>
	    </caption>
	  </table>
	</div>

	<div id="requestDisplay">
	  <h3>Request</h3>
	  <pre class="url"></pre>
	  <pre class="params"></pre>
	</div>

	<div id="results">
	  <h3>Result</h3>
	  <pre></pre>
	</div>
      </form>
    </div>
  </section>
</section>

{% endblock %}

{% block html_footer %}
<script>
  var ws_url = '{{ ws }}';
</script>
<script src="{{asset('api.js', 'admin')}}"></script>
{% endblock %}



