{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Updates'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Extensions Update'|trans}}</li>
{% endblock %}

{% block content %}
{% endblock %}
