// users table ; to be removed
.openUserDetails {
    cursor: pointer;
}

.dataTables_wrapper,
.dataTables_info {
    @extend .clearfix;
}

table.dataTable {
    clear: right;
    padding-top: 10px;
}
.dataTable td img {
    margin-bottom: -6px;
    margin-left: -6px;
}
.paginate_enabled_previous,
.paginate_enabled_previous:hover,
.paginate_disabled_previous,
.paginate_enabled_next,
.paginate_enabled_next:hover,
.paginate_disabled_next {
    background: none;
}
.paginate_enabled_previous,
.paginate_enabled_next {
    color: #005e89 !important;
}
.paginate_enabled_previous:hover,
.paginate_enabled_next:hover {
    color: #d54e21 !important;
    text-decoration: underline !important;
}

.paginate_disabled_next,
.paginate_enabled_next {
    padding-right: 3px;
}
.bulkAction {
    margin-top: 10px;
}
#addUserForm p {
    margin-left: 0;
}
#applyActionBlock .actionButtons {
    margin-left: 0;
}
span.infos,
span.errors {
    background-image: none;
    padding: 2px 5px;
    margin: 0;
    border-radius: 5px;
}

.userStats {
    margin-top: 10px;
}
.recent_period_infos {
    margin-left: 10px;
}
.nb_image_page,
.recent_period {
    width: 340px;
    margin-top: 5px;
}
#action_recent_period .recent_period {
    display: inline-block;
}
