@import "bootstrap-custom";
@import "fonts";

@import "./theme.css";
@import "./clear.css";

body {
    display: flex;
    flex-flow: column wrap;

    margin: 0;
    padding: 0;
    i {
	margin-right: 0.2rem;
    }
}

.visually-hidden {
    @include sr-only();
}

.wrapper {
    flex: 1 0 auto;
    min-height: 100vh;
}

header {
    background-color: $gray-600;
    color: $white;

    a {
	color: $white;
    }

    .navbar {
	font-size: 0.9rem;
	padding: 0.2rem 1rem;
    }
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    padding-top: 2rem;
}

section[role="content"] {
    flex: 1 1 auto;
    order: 2;
    padding: 0 1rem;

    .nav.nav-tabs {
	margin-bottom: 1em;
    }

    // temporary, until theme.css and clear.css will be removed
    form {
	*, *::before, *::after {
	    box-sizing: content-box;
	}
    }
}

aside[role="navigation"] {
    flex: 0 0 15em; // do not grow or shrink, stay at 15em
    order: 1;
    ul {
	list-style: none;
	margin: 0;
	padding: 0;
    }

    padding-left: 0.4rem;
    .accordion {
	li {
	    a {
		display: block;
		color: $white;
		text-decoration: none;
		border-bottom: 1px solid $gray-100;
		background-color: $gray-700;
		padding: 0.3rem;

		&:hover {
		    opacity: 0.6;
		}

		&.show {
		    background-color: $pink;
		}
	    }

	    li {
		a {
		    padding-left: 1rem;
		    background-color: $gray-600;
		}
	    }
	}
    }
}

footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: $gray-200;
    color: $gray-500;
    font-size: 0.9rem;
}
